.main{
    color:yellow;
    
    border-color: red;
    align-items: center;
    background-color: rgb(173, 45, 45);
    justify-content: center;
    padding: 20px 1000px;
    text-shadow: 0 0 5px rgb(29, 125, 214);
    
    
}
.search{
    background-color: rgb(2, 15, 32);
    padding: 20px 100px;
    align-items: center;
}
.searchinfo{
    
    background-color: rgb(7, 24, 46);
    padding: 200px 800px;
    align-items: center;
    display: flex;
}
.des{
    padding: 50px 900px; 
}
